body{background: #333;}
.Main {}
p {
    font-size: 9.1em;
}
.wrap{
    background-image: url('http://montagestudio.com/assets/images/company/logo/Montage_Vert_FC_Transparent.png');
    background-color: orange;
    background-size: 350px 350px;
    width: 10024px;
    height: 3000060px;
    border: 10px solid gray;
    
    -webkit-box-shadow: 0px 0px 100px 40px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 100px 40px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 100px 40px rgba(50, 50, 50, 0.75);
}
.selected { 
    background-color: red;
    width: 1524px;
    height: 1460px;
}
